@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Yuji+Hentaigana+Akari&display=swap');
/*apariencia del fondo*/
body.index{
    font-family: 'Metal Mania',sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #5dffe1 8%, #8964ba 100%);
    height: 100vh;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto
}
/*Tabla central*/
.main-container{
    background-color: rgb(12, 36, 62);
    margin: 200px auto;
    width: 500px;
    border-radius: 10px
    
}
h1{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    text-transform: capitalize;
    color: white
}
.container{
    font-family: 'Metal Mania',sans-serif;
    width: 450px;
    display: flex;
    padding: 20px;
    margin: auto;
    justify-content: space-between
}
.container input[type="text"]{
    font-family: 'Metal Mania',sans-serif;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 280px
}
.addButton {
    font-family: 'Metal Mania',sans-serif;
    text-decoration: none;
    padding: 10px 30px;
    position: relative;
    margin: 0px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    border: 3px solid;
    transition: all 0.6s ease;
    background: none;
    cursor: pointer;
}
.addButton:hover {
    background-color: rgb(12, 36, 62);
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);
    color: var(--color);
}
.addButton nav:nth-child(n) {
    position: absolute;
    width: 5px;
    height: 5px;
    border: 3px solid;
    transition: all 0.6s ease;
}
.addButton nav:nth-child(1) {
    right: 10%;
    top: -6px;
    background-color: #fff;
}
.addButton nav:nth-child(2) {
    left: 10%;
    bottom: -6px;
    background-color: rgb(12, 36, 62);
}
.addButton:hover nav:nth-child(1) {
    right: 80%;
    transform: rotate(90deg);
    color: var(--color);
    background-color: var(--color);
}
.addButton:hover nav:nth-child(2) {
    left: 80%;
    transform: rotate(90deg);
    color: var(--color);
}
.ToDo-List{
    list-style: none;
    padding: 20px
}
.ToDo-List li{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    display: flex;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: rgb(121, 73, 180);
    padding: 20px;
    justify-content: space-between
}
.ToDo-List li input[type="checkbox"]{
    width: 18px;
    height: 18px;
    align-items: center;
    border-radius: 4px;
    margin-right: 10px;
}
.ToDo-List li .delete{
    cursor: pointer
}
.ToDo-List li .delete:hover{
    color: #ffffff
}
:root{
    --color: #7e00cd;
}